.image {
    width: 1300px;
    height: 600px;
    border-radius: 16px;

    background: url(Banner\ Image.png);
    border-radius: 16px;
    filter: brightness(65%);
    margin: 0 auto;

}





/* .head {
    background: url(Banner\ Image.png);
    width: 1300px;

    height: 600px;
    filter: brightness(50%);
    background-repeat: no-repeat;
} */

h2 {
    padding-bottom: 30px;
}

.title-1 {
    margin: 0 auto;
    color: #fff;

    text-align: center;

    font-size: 32px;

    font-weight: 400;
    padding-top: 198px;
    filter: brightness(100%);

}

.title-2 {

    color: #fff;

    text-align: center;

    font-size: 72px;
    margin: 0 auto;

    font-weight: 900;
    width: 632px;


}

.price {
    text-align: center;

}

.price-tile {
    color: #F00;


    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-details {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.price-catagori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.party {
    background: url(Vectorrr.png);
    background-repeat: no-repeat;
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    margin: 0 auto;
}

.party-title {
    width: 642px;
    color: #FFF;

    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;

    letter-spacing: 7.04px;
}

.party-description {
    width: 667px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-1 {
    padding: 15px 20px;
    color: #fff;
    background-color: rgb(255, 38, 0);
    border-radius: 10px;
}

.place {

    width: 1300px;
    height: 616px;

    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.text-t {
    color: #F00;



    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;


}

.time {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn-2 {

    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
}

.gift {
    width: 1600px;
    height: 1300px;
    background: #FFF;
    margin: 0 auto;
}

.gift-offer {
    color: #F00;

    font-size: 24px;

    font-weight: 500;

}

.gift-title {
    color: #070211;


    font-size: 48px;

    font-weight: 900;


}

.gift-details {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.photo {
    transition: transform 0.3s;
    width: 424px;
    height: 450px;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

.img-all:hover {

    transform: scale(1.1);

}

.mail {
    margin: 0 auto;
    width: 1320px;
    height: 616px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 8px;
    margin-top: 20px;

}

.mail-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.mail-details {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 40px;

}

.mail-1 {
    padding-top: 80px;
    padding-left: 585px;

}

.Subscribe input[type="email"] {
    width: 180px;
    height: 30px;
    padding: 25px 477px 25px 39px;
    background-color: #FFF;
    border: 0;
    color: rgba(7, 2, 17, 0.30);

    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;

}

.Subscribe {
    padding-left: 310px;
}

.subs {
    background-color: #04AA6D;

    border: 0;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 72px;

}

.Subscribe input[type=submit] {
    height: 84px;
    width: 200px;
    position: relative;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    left: -178px;
    color: #FFF;
    padding: 24px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.last {
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    background: #070211;


}

.last-last {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

}

.last-location {
    color: #FFF;


    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    width: 334px;


}

.last-phn {
    color: #FFF;


    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;



}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin-top: 20px;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 40px;

}

.end {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.end-t {
    color: #ffffff;


    font-size: 24px;


}

.btn-3 {
    padding: 16px 32px;
    border-radius: 8px;
    background: #FF69B4;
}